@import '../../../stylesheet/mixins';
@import '../../../stylesheet/variables';

.stream__tile{
    @include card();
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #31908c;
    margin-top: 25px;
}