@import '../../../stylesheet/mixins';
@import '../../../stylesheet/variables';

.stream__tile{
    @include card();
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #31908c;
    margin-top: 25px;
    font-size: 1.35rem;
}

::ng-deep .dark_mode .stream__tile {
    background: $theme_dark_tertiary !important;
    color: white !important;
}