$lightbg: #F5F5F5;

$lightwhite: #F5F5F5;
$mildwhite: #D3D5D7;
$overlay : rgba(235, 235, 235, 0.35);
$grey : rgb(175 175 175);
$grey_v1: #555555;
$grey_v2: #cccccc;
$grey_v3: rgb(222,222,222);
$grey_v4: rgb(185, 185, 185);
$grey_v5: rgb(113, 113, 113);

$red_v1: #f95e5a;
$red_v2: #fa5f5a;
$red_v3: rgb(250, 94, 91);
$yellow_v2: #febc4b;

$button-height-medium: 45px;

$green: #009F40;
$blue: #0678C5;