$lightbg: #F5F5F5;

$lightwhite: #F5F5F5;
$mildwhite: #D3D5D7;
$overlay : rgba(235, 235, 235, 0.35);
$grey : rgb(175 175 175);
$grey_v2: #cccccc;
$grey_v1: rgb(222,222,222);
$grey_v3: rgb(185, 185, 185);
$grey_v4: rgb(113, 113, 113);

$navcolor_v1: #f95e5a;
$navcolor_v2: #febc4b;
$side_nav_color: #fa5f5a;
$red: rgb(250, 94, 91);

$button-height-medium: 45px;

$green_status: #009F40;
$blue_status: #0678C5;