<div class="lengthy__tile">
    <div class="divider"></div>
    <div class="lengthy__tile-body">
        <div class="lengthy__tile-info-sec">
            <h3 class="lengthy__tile-header">MSDE JIRAs</h3>
            <p class="lengthy__tile-info">4 Active challenges</p>
            <p class="lengthy__tile-info">3 Challenges since last visit</p>
            <p class="lengthy__tile-info">4 Completed</p>
        </div>
        <div class="lengthy__tile-logo">
            <img src="../../../assets/images/audit.jpg">
        </div>
    </div>
</div>