@import '../../../stylesheet/mixins';
@import '../../../stylesheet/variables';

.lengthy__tile{
    @include card();
    width: 100%;
    height: 150px;
    padding-top: 1rem;
    .divider{
        width: 20px;
        height: 3px;
        background-color: green;
    }
}
.lengthy__tile-body{
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}
.lengthy__tile-info-sec{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    .lengthy__tile-header{
        margin-bottom: .5rem;
    }
    .lengthy__tile-info{
        margin: 8px;
        margin-left: 0;
        font-size: 13px;
        @include font('J');
    }
}
.lengthy__tile-logo img{
    width: 154px;
    height: 89%;
    border-radius: 50%;
}