<div class="lengthy__tile" (click)="onTileClick()">
    <div class="lengthy__tile-logo" [style.background]="'url( '+ stream.avatar + ')'">
    </div>
    <div class="lengthy__tile-body">
        <div class="lengthy__tile-info-sec">
            <h3 class="lengthy__tile-header">{{stream.title}}</h3>
            <p class="lengthy__tile-info"><span>{{stream.activeChallenge}}</span> Active challenges</p>
            <p class="lengthy__tile-info"><span>{{stream.activeChallengeSinceLastVisit}}</span> Challenges since last visit</p>
            <p class="lengthy__tile-info"><span class="green">{{stream.completedChallenges}}</span> Completed</p>
        </div>
    </div>
</div>