<header>
    <div class="header">
        <div class="logo">
            <a href="./">
                <img width="40" height="40" src="../../../assets/images/icons/logo_v1.svg"/>
                <span>CoLab</span>
            </a>
        </div>
        <div class="links">
            <a href="">About</a>
            <a target="_blank" type="application/pdf" href='../../../../CoLab_Codeathon.pptx'>Tour</a>
            
            <img width="33" mat-icon-button [matMenuTriggerFor]="menu" height="33" src="../../../assets/images/icons/user.svg"/>
            <mat-menu #menu="matMenu">

            <button mat-menu-item (click)="goToProfile();">
                <mat-icon>face</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item>
                <mat-icon>color_lens</mat-icon>
                <span>{{curretTheme}}<mat-slide-toggle style="padding-left:10px" (toggleChange)="onThemeSelection($event)"></mat-slide-toggle></span>
            </button>
            </mat-menu>
        </div>
    </div>
</header>