<div class="stream-panel">
    <div class="stream-panel__description">
        <div class="highlight_mark"></div>
        <div class="avatar">
            <img src="../../../assets/images/stream_image_logo1.jpg"/>
        </div>
        <div class="detail">
            <h2>{{currentStream.title}}</h2>
            <p>{{currentStream.description}}</p>
        </div>
    </div>
    <div class="stream-panel__feeds">
        <div class="stream-panel__feeds__item" @items *ngFor="let challenge of currentStream.challenges">
            <app-challenge-item [item]="challenge"></app-challenge-item>
        </div>    
    </div>
</div>