@import '../../../stylesheet/mixins.scss';

.stream-panel {
    margin: auto;
    max-width: 95%;
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
    &__description {
        position: relative;
        min-height: 200px;
        padding: 20px 45px;
        @include flex(column);
        width: 100%;
        align-items: center;
        box-sizing: border-box;
        @include card();
        .highlight_mark {
            position: absolute;
            width: 3px;
            height: 90%;
            top: 5%;
            left: 0;
            background: linear-gradient(to bottom right, #0aa873, #330aad);
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
        }
        img {
            border-radius: 50%;
            width: 175px;
            height: 175px;
            border: 4px solid #efefef;
            object-fit: cover;
        }
        img:hover {
            transform: scale(1.01);
            transition: 0.25s;
        }
        .detail {
            padding-left: 20px;
            h2,p {
                @include zeroGap();
            }
            h2 {
                @include fsize(1.7);
                font-weight: 300;
                letter-spacing: 2px;
                line-height: 35px;
                padding-top: 5px;
            }
            p {
                padding-top: 10px;
                @include fsize(1.05);
                color: grey;
                line-height: 25px;
                letter-spacing: 1px

            }
        }
    }
    
    &__content {
        @include flex();
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 20px;
        .feeds {
            margin-bottom: 20px;
            flex-basis: calc(80% - 20px);
            @media screen and (min-width: 440px){
                width: 90%;
                margin-bottom: 20px;
            }
            
            &__item{
                margin-top: 15px;
            }
        }
        .leaderboard {
            @include card();
            margin-top: 15px;
            flex-basis: calc(20% - 20px);
            h3 {
                @include zeroGap();
                font-weight: 400;
                text-align: center;
                padding-top: 12.5px;
            }
            .divider {
                width: 70%;
                height: 1px;
                margin: auto;
                background: linear-gradient(to bottom right, #23aa55, #636363);
                margin-top: 5px;
            }
            ul {
                list-style: none;
                @include zeroGap();
                margin-top: 20px;
            }
            ul li:first-child > div.contributor img {
                border: 1.45px solid goldenrod;
            }
            ul li > div.contributor {
                @include flex();
                justify-content: space-evenly;
                align-items: center;
                border-bottom: 1px solid #EEEEEE;
                padding: 10px 0;
                .avatar {
                    flex-basis:calc(30% - 75px);
                    @include flex();
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 60px;
                        height: 60px;
                        background: #ededed;
                        border-radius: 50%;
                    }
                }
                .desc {
                    @include flex(column);
                    justify-content: center;
                    align-items: center;
                    flex-basis:calc(70% - 30px);
                    p {
                        @include fsize(1.65);
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 440px){
    .stream-panel {
        max-width: 80%;
        &__description {
            @include flex(row);
        }
    }
}

::ng-deep .dark_mode .stream-panel__description {
    background: $theme_dark_secondary !important;
    color: white;
    img {
        border-color: #424242 !important;
    }
}

::ng-deep .dark_mode .leaderboard {
    background: $theme_dark_secondary !important;
    color: #EEEEEE;
    .contributor {
        border-bottom-color: #353535 !important;
    }
    .contributor .avatar img {
        background: #333333 !important;
    }
}