/* You can add global styles to this file, and also import other style files */
@import './stylesheet/variables.scss';
@import './stylesheet/mixins.scss';

body {
    background: $lightbg;
    @include zeroGap();
    @include font('Q');
}
html, body { height: 100%; }
body { 
    margin: 0; 
}
h1,h2,h3,h4,h5,h6,p {
    @include zeroGap();
}
h2{
    @include fsize(1.5);
    @include font('R');
}
h3{
    @include fsize(1.2);
    @include font('R');
}

