@import '../../stylesheet/mixins.scss';
@import '../../stylesheet/variables.scss';

.home {
    min-height: calc(100vh - 60px);
    &__banner {
        height: 350px;
        background: $blue;
        position: relative;
        @include flex();
        align-items: flex-end;
        justify-content: center;
        background-image: url(../../assets/images/coding_people8.jpg);
        background-position: center;
        background-size: cover;
        .overlay {
            width: 100%;
            height: 350px;
            position: absolute;
            top: 0;
            background: linear-gradient(to bottom right, #ff9494ad, #febc4b94);
        }
        .avatar {
            position: absolute;
            @include flex();
            justify-content: flex-end;
            width: 100%;
            top: 68px;
            right: 0;
            z-index: 1;
        }
        .item1, .item2 {
           position: absolute;  
        }
        .item1 {
           left: 0;
        }
        .item3 {
            right: 0;
        }
        .item2 {
            left: 33.33%;
        }
        .mac_panel {
            width: 200px;
            background-image: url(../../assets/images/mac_book.png);
            height: 160px;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 25px;
            position: relative;
            video {
                position: absolute;
                top: 8px;
            }
        }
    }
    &__stand {
        position: relative;
        width: 100%;
        @include flex();
        justify-content: center;
        height: 95px;
        background: white;
        
        .midBox {
            position: absolute;
            top: -45px;
            width: 500px;
            height: 130px;
            background: white;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            z-index: 2;
            margin-top: 10px;
            @include flex(column);
            justify-content: center;
            align-items: center;
            .divider {
                width: 150px;
                height: 2px;
                background: -webkit-gradient(linear, left top, right bottom, from(#009F40), to(#febc4b));
                background: linear-gradient(to bottom right, #009F40, #febc4b);
                margin-top: 10px;
            }
        }

    }
}