<div class="home">
    <div class="home__banner">
        <div class="overlay"></div>
        <div class="avatar">
            <img class="item1" src="../../assets/images/coding_people1.svg"/>
            <div class="item2">
            </div>    
            <img class="item3" src="../../assets/images/coding_people2.svg"/>
        </div>
        <div class="mac_panel">
            <video loop muted autoplay  width="186">
                <source src="../../assets/videos/coding_video4.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="home__stand">
        <div class="midBox">
            <h2>Code When Bored ! !</h2>
            <div class="divider"></div>
        </div>
    </div>
</div>