@import '../../stylesheet/mixins.scss';
@import '../../stylesheet/variables.scss';

.home {
    min-height: calc(100vh - 60px);
    &__banner {
        height: 350px;
        background: $blue;
        position: relative;
        @include flex();
        align-items: flex-end;
        justify-content: center;
        background-image: url(../../assets/images/coding_people8.jpg);
        background-position: center;
        background-size: cover;
        .overlay1 {
            width: 50%;
            height: 350px;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to bottom right, #0aa87370, #330aad70);
        }
        .overlay2 {
            width: 50%;
            height: 350px;
            position: absolute;
            top: 0;
            right: 0;
            background: linear-gradient(to bottom right, #03337370, #ff949470);
        }
        .avatar {
            position: absolute;
            @include flex();
            justify-content: flex-end;
            width: 100%;
            top: 68px;
            right: 0;
            z-index: 1;
        }
        .item1, .item2 {
           position: absolute;  
        }
        .item1 {
           left: 0;
        }
        .item3 {
            right: 0;
        }
        .item2 {
            left: 33.33%;
        }
        .mac_panel {
            width: 200px;
            background-image: url(../../assets/images/mac_book.png);
            height: 160px;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 25px;
            position: relative;
            z-index: 2;
            video {
                position: absolute;
                top: 8px;
            }
        }
        .animation-area {
            background: linear-gradient(to left, #8942a8, #ba382f);
        }
        .box-area {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 350px;
            overflow: hidden;
            @include zeroGap();
        }
        .box-area li {
            position: absolute;
            display: block;
            list-style: none;
            width: 25px;
            height: 25px;
            animation: animate 20s linear infinite;
            bottom: -150px;
            // background: #D3D5D7;
            background-size: cover;
            
        }
        .box-area li:nth-child(1) {
            left: 10%;
            width: 38px;
            height: 38px;
            animation-delay: 1.5s;
            animation-duration: 10s;
            background-image: url(../../assets/images/badge_flying_icon1.png);
        }
        .box-area li:nth-child(2) {
            left: 23%;
            width: 33px;
            height: 33px;
            animation-delay: 1.5s;
            animation-duration: 10s;
            background-image: url(../../assets/images/badge_flying_icon2.png);
        }      
        .box-area li:nth-child(3) {
            left: 35%;
            width: 60px;
            height: 60px;
            animation-delay: 5.5s;
            background-image: url(../../assets/images/badge_flying_icon3.png);
        }     
        .box-area li:nth-child(4) {
            left: 40%;
            width: 45px;
            height: 45px;
            animation-delay: 0s;
            animation-duration: 15s;
            background-image: url(../../assets/images/badge_flying_icon4.png);
        }           
        .box-area li:nth-child(5) {
            left: 58%;
            width: 48px;
            height: 48px;
            animation-delay: 0s;
            background-image: url(../../assets/images/badge_flying_icon5.png);
        } 
        .box-area li:nth-child(6) {
            left: 67%;
            width: 38px;
            height: 38px;
            animation-delay: 3.5s;
            background-image: url(../../assets/images/badge_flying_icon6.png);
        }                          
        .box-area li:nth-child(7) {
            left: 88%;
            width: 42px;
            height: 42px;
            animation-delay: 0s;
            background-image: url(../../assets/images/badge_flying_icon7.png);
        } 
                              
    }
    &__stand {
        position: relative;
        width: 100%;
        @include flex();
        justify-content: center;
        height: 95px;
        background: white;
        
        .midBox {
            position: absolute;
            top: -45px;
            width: 500px;
            height: 130px;
            background: white;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            z-index: 2;
            margin-top: 10px;
            @include flex(column);
            justify-content: center;
            align-items: center;
            .divider {
                width: 183px;
                height: 2px;
                background: -webkit-gradient(linear, left top, right bottom, from(#009F40), to(#febc4b));
                background: linear-gradient(to bottom right, #009F40, #febc4b);
                margin-top: 10px;
            }
        }

    }
    &__streams_sec{
        width: 100%;
        margin: auto;
        padding-top: 2rem;
        @media screen and (min-width: 768px){
            width: 75%;
        }
        .home__streams_sec-h-container{
            display: flex;
            justify-content: space-between;
            border-bottom: 3px solid transparent;
            border-image: linear-gradient(to bottom right, #157b3e, #febc4b);
            border-image-slice: 1;
        }
        .home__streams_sec-header{
            padding-bottom: .8rem;
        }
        .add_icon{
            cursor: pointer;
        }
        .home__streams_sec-tiles,.home__streams_others-sec-tiles{
            padding: 2rem 0;
            display: flex;
            justify-content: space-between;
        }
        .home__streams_others-sec-tiles{
            justify-content: flex-start;
        }
    }

}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}