@import '../../../stylesheet/variables.scss';
@import '../../../stylesheet/mixins.scss';

.footer {
    background: white;
    height: 100px;
    @include flex();
    align-items: center;
    justify-content: center;
}

::ng-deep .dark_mode .footer {
    background: $theme_dark_primary !important;
    color: white !important;
}